.pages {
    display: flex;
    justify-content: center;
}

.pages > div {
    flex: 1;
    text-align: center;
    border: 2px dashed #e3e3e3;
}

.title {
    text-align: center;
}

button {
    background-color: #ff6700;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: bold;
    margin: 10px;
}

.banners {
    /* width: 80%; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .banner {
        border-radius: 10px;
        overflow: hidden;
        width: 45%;
        margin: 10px 0;
        img {
            width: 100%;
        }
    }
}

.recommends {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;

    .recommend {
        width: 16%;

        img {
            width: 100%;
        }
    }
}